body{
  background-color: lightgrey
}

nav{
  background-color: white;
  border-bottom: 1px solid gray;
}

.navbar-brand{
  background: lightseagreen;

}

.imgs{
  height: auto;
  max-width: 100%;
}

.card-title{
  color: lightseagreen
}

.container{
  background-color: white;
}

.comp-title{
  color: lightseagreen;
}

.card-deck-title{
  color: lightseagreen;
}

#map,
body,
html {
  height: 100%;
}

@media only screen and (max-width: 767.98px) {
  body {
      background-color: white;
  }

  nav {
      background-color: lightseagreen;
  }

  .navbar-collapse{
      background-color: white;
      margin-right: 0;
  }

  .card-title{
      font-size: xx-large;
  }

  .comp-title{
      font-size: xx-large;
  }


}
.center {
  /* margin: 3 auto; */
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width:fit-content;
}

/* The width of each slide */
.slick-slide {
  width: 1px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: turquoise;
}

.slider img {
  width: 320px;
  height: 240px;
}